### why python?

In [10]:
from IPython.display import Image, display

1. Design Philosophy-easy and interpretable
2. Batteries included-biuilt in methods and functions 
3. General purpose -data science,gaming,app development,backend etc
4. Libraries and community-numerous built in libraries like opencv,keras,tensorflow,np,pandas etc

### why python for data science?

 1. easy to learn
 2. proximity with maths-for mathematical computations like np pd etc
 3. community

In [1]:
print("Hello world!")

Hello world!

In [2]:
print(7)

7

In [3]:
print(9.07)

9.07

In [5]:
print(True)# boolean

True

In [6]:
print('hello',5,3.4,10-5,False)

hello 5 3.4 5 False

In [ ]:
# (function) def print(
#     *values: object,
#     sep: str | None = " ",
#     end: str | None = "\n",
#     file: SupportsWrite[str] | None = None,
#     flush: Literal[False] = False
# ) -> None

In [8]:
# sep: str | None = " " -default
print('hello',5,3.4,10-5,False,sep='/')

hello/5/3.4/5/False

In [9]:
print('hello',5,3.4,10-5,False,sep='-')

hello-5-3.4-5-False

In [11]:
#end: str | None = "\n" ->default
print('hello')
print('world')

hello
world

In [12]:
print('hello',end='-')
print('world')

hello-world

### Data Types

1. **Integer**

In [13]:
print(8)

8

In [15]:
print(1e308) #1e308 ->1*10^308 python can handle upto this

1e+308

2. **Decimal/float**

In [16]:
print(8.55)

8.55

In [17]:
print(1.7e308) #max limit

1.7e+308

3. **Boolean**

In [18]:
print(True)

True

In [19]:
print(False)

False

4. **Text/String:**
there is no char type in python like other languages instead we have  string

In [20]:
print("my name is khan!")

my name is khan!

5. **Complex**

In [22]:
print(5+6j-2j)

(5+4j)

6. **Lists:** it is like array of c

In [24]:
a=[10,20,30,40,'jk']
print(a)

[10, 20, 30, 40, 'jk']

7. **Tuples**

In [25]:
a=(10,20,30)
print(a)

(10, 20, 30)

In [26]:
print((10,60,'q'))

(10, 60, 'q')

8. **Sets**

In [28]:
print({10,20,30})

{10, 20, 30}

9. **Dictionary**

In [29]:
print({'name':'affan','age':'20','loc':'india'})

{'name': 'affan', 'age': '20', 'loc': 'india'}

10. **None:** The None keyword is used to define a nullvalue, or no value at all.

In [30]:
x = None

print(x)

None

### Type function

In [33]:
type(6)

int

In [34]:
type(5+4j)

complex

In [35]:
type({2,10})

set

### Variables-containers to store values

In [36]:
a=20
print(a)

20

In [37]:
a=5
b=10
print(a+b)

15

**Dynamic typing**

int a =10 ->in c we define the type of the variable but in pyhton we just write the name of the variable
this is called dynamic typing where python is intelligent enough to unsderstand the type of variable

static typing-int a =20;

**Dynamic binding**

In [39]:
a =10
print(a)
a='hello'
print(a)
#in c we cannot change datatype-static binding
#in python the variable can hold any type of data within a program

10
hello

### ways to create variables

In [40]:
a=10
b=20
c=30
print(a,b,c)

10 20 30

In [41]:
a,b,c=10,20,30
print(a,b,c)

10 20 30

In [42]:
a=b=c=5
print(a,b,c)

5 5 5

### Comments

#->single line comment
there is no multi comment in python

### Keywords and identifiers

**compilation->** converting code to binary form

**compilation language->** java ,c++->compiles code completly at one go

**interpreter languagee->** compiles the code line by line like pyhton

**Keywords:** certain words reserved which denotes certain logic-python has 32 keywords ..these keywords can't be used as variable like if,for,print ,def,in ,is etc

**Identifiers:** Identifiers are the names to classes,functions,variable etc

**Rules for creating an identifier**

1. it should not start with a digit
2. in special characters u can only just use '_'
3. they cannot be keywords

### Taking the input from User

In [3]:
#we use input() built-in function
input('enter your name') #takes input value as string

'affan'

In [5]:
#taking the input from user and storing them in a variable
input_var1=input('enter first number')
input_var2=input('enter second  number')
print(type(input_var1))
# add the two variables
print(input_var1+input_var2)
result=input_var1+input_var2
# print the result
print(result)

<class 'str'>
1020
1020

### Type Conversion

1. **Implicit Type Conversion:** 
    - it is done automatically done by the interpreter

In [1]:
print(5+5.6)

10.6

2. **Explicit Conversion**
    - done by the user when implicit fails
    - example
    ```
        print(4+'4)
    ```

i. **string to integer**

In [3]:
type(int('4'))

int

In [4]:
type(int(10.2345))

int

ii. **integer to str** ->str()

iii. **integer to float**->float()

In [6]:
fnum='20'
result=int(fnum)*10
print(result)
print(type(fnum))#the original type doesn't change
print(type(result))

200
<class 'str'>
<class 'int'>

In [8]:
num1=int(input('input any number'))
print(num1)

20

### Literals

#the raw value stored is called literal

eg. a=20,a is variable,20 is literal

**Type of literals**

In [19]:
#binary
a=0b1010010
#decimal
b=100
#octal
c=0o310
#hexadecimal
d=0x12c
print(a,b,c,d)

82 100 200 300

In [20]:
#float literals
f1=10.5
f2=1.5e2 #1.5*10^2
f3=1.4e-3 #1.4*10^-3
print(f1,f2,f3)

10.5 150.0 0.0014

In [21]:
#complex literals
x=2+3.14j
print(x.real,x.imag)

2.0 3.14

In [22]:
string = 'This is Python'
strings = "This is Python"
char = "C"
multiline_str = """This is a multiline string with more than one line code."""
unicode = u"\U0001f600\U0001F606\U0001F923"
raw_str = r"raw \n string"

print(string)
print(strings)
print(char)
print(multiline_str)
print(unicode)
print(raw_str)

This is Python
This is Python
C
This is a multiline string with more than one line code.
ðŸ˜€ðŸ˜†ðŸ¤£
raw \n string

In [14]:
a=True+4 #true=1
b=False+10 #false=0
print(a,b)

5 10