# Strings

Strings are sequence of Characters

In Python specifically, strings are a sequence of Unicode Characters(ASCI was used by C which is 8 bit,python uses UNICODE which is a 16bit ,so it can store larger values)

- Creating Strings
- Accessing Strings
- Adding Chars to Strings
- Editing Strings
- Deleting Strings
- Operations on Strings
- String Functions

### How to create Strings

In [3]:
s = 'hello'
print(s)

hello

In [4]:
s = "hello"
print(s)

hello

In [6]:
# multiline strings
s = '''hell..this is mohd affan's book'''
print(s)

hell..this is mohd affan's book

In [7]:
s = """hello..how are you"""
print(s)

hello..how are you

In [8]:
s = str('hello')
print(s)

hello

### Accessing Strings:Indexing

As soon you create an string python will assign an index to each character:hello=>h->0,e->1,....

Positive indexing->first char will be assigned 0 next 1....
Negative indexing->last cahr is aassigned -1,next -2 ......

In [11]:
s='Hello World'
print(s[0])
print(s[1])
print(s[2])
print(s[3])
print(s[4])
print(s[5])
print(s[6])
print(s[7])
print(s[8])
print(s[9])
print(s[10])
print(s[11])

H
e
l
l
o

W
o
r
l
d

IndexError: string index out of range

In [13]:
s='Hello World'
print(s[-1])
print(s[-2])
print(s[-10])
print(s[-3])
print(s[-12])

d
l
e
r

IndexError: string index out of range

In [15]:
# string slicing:used to extract more than 1 characters
s="Hello! how are you?"
#extracting how
# print(s[7])
print(s[7:10]) #7:10 is the range where 10th postion will be ignored

how

In [3]:
s="Hello! how are you?"
print(s[3:]) #from index-3 to all
print(s[:4])# idnex-0,1,2,3 will be extracted
print(s[:])

lo! how are you?
Hell
Hello! how are you?

In [4]:
#using step
s="Hello! how are you?"
print(s[:10:2]) #2 steps

Hlo o

In [6]:
#using negative indexing
s="Hello! how are you?"
print(s[8:0:-1]) #from negative direction and 1 step
print(s[8:0:-2]) #from negative direction and 2 steps

oh !olle
o ol

In [8]:
# Reversing a string in one line
s="Hello! how are you?"
print(s[::-1])

?uoy era woh !olleH

In [9]:
# reversing you
s="Hello! how are you?"
print(s[-2:-5:-1])

uoy

### Editing and Deleting in Strings

In [1]:
s="hello World"
s[0]='H'
#TypeError: 'str' object does not support item assignment i.e immutable ,you cannot edit/change string

TypeError: 'str' object does not support item assignment

In [2]:
# deleting an string
s="HEllo"
del s
print(s)

NameError: name 's' is not defined

In [3]:
s="hello world"
del s[-2:-3:-1]#as immutable we cannot delete a part of it

TypeError: 'str' object does not support item deletion

### Operations on Strings

**Arithmetic operators**

In [4]:
print('hyd'+'india')

hydindia

In [5]:
print('delhi'*10)

delhidelhidelhidelhidelhidelhidelhidelhidelhidelhi

In [6]:
#subtraction,divison,module etc other operators are not supported

**RelationalOperators**

In [8]:
'hyd'=='delhi'

False

In [9]:
'a'=='a'

True

In [10]:
'mumbai'>'hyd'

True

strings are compared lexiographycally based on first word of string in ASCII

In [11]:
'P'>'p' #asci of P is 80   and p is 112

False

**Logical Operators**

In [13]:
'hello' and 'world'

'world'

In [14]:
'hello' or 'world'

'hello'

In [15]:
'' and 'world' #python considers empyt string as F

''

In [16]:
'' or 'world'/

'world'

**Loops on strings**

In [17]:
for i in 'hello':
    print(i)

h
e
l
l
o

In [19]:
for i in 'hello':
    print('hi')

hi
hi
hi
hi
hi

**Membership operations**

In [20]:
'D' not in "Dead"

False

### String Functions

**common functions which can be used for all datatypes like strings,sets,tuples etc**

In [21]:
len('hello world')

11

In [22]:
max('hello') #max-ascii char

'o'

In [24]:
min('hi ,hello')#here sapce has min asci value

' '

In [25]:
sorted('hello world')#sorted based on each char ascii value-ascending

[' ', 'd', 'e', 'h', 'l', 'l', 'l', 'o', 'o', 'r', 'w']

In [26]:
sorted('hello world',reverse=True)#descending

['w', 'r', 'o', 'o', 'l', 'l', 'l', 'h', 'e', 'd', ' ']

**functions which works only on the string and are imp**

**1.Capitalize**

In [27]:
s="hello world"
s.capitalize()#capitalizes only the first char of string

'Hello world'

**2. Title**

In [28]:
s="hello world"
s.title()# capitalizes first char of each word

'Hello World'

**3. UPPER/LOWER**

In [29]:
s="hello world"
s.upper()

'HELLO WORLD'

In [30]:
s="hello world"
s.lower()

'hello world'

**4. SWAPCASE**

In [31]:
#CONVERTS UPPER TO LOWER AND LOWER TO UPPER
s="Hello, This is Mohd"
s.swapcase()

'hELLO, tHIS IS mOHD'

**5. Count**

In [34]:
s="hello world"
s.count('o')

2

**6. find**

In [35]:
#Used to find the index of a char
s="hello world"
s.find('e')

1

**7. Index**

In [37]:
#used to find the index of a char only difference is that if there is no char is found it throughs an error w
#whereas find method gives -1
s="hello world"
s.index('a')

ValueError: substring not found

**8. Ends with/Starts with**

In [38]:
s="hello world"
s.endswith('ld')

True

In [40]:
s="hello world"
s.startswith('heli')

False

**9. Format**

In [41]:
name='affan'
gender='male'
'hi my name is {} and i am {}'.format(name,gender)

'hi my name is affan and i am male'

**10. isalnum/isalpha/isdigit/isidentifier**

In [2]:
"helloahmed".isalnum()

True

In [3]:
"hi%".isalnum()

False

In [4]:
'1234'.isalpha()

False

In [5]:
'hello_world'.isidentifier()

True

**SPLIT/JOIN**

- split splits the string and stores in a list,splitting is by default done based on space

In [6]:
s="hi my name is affan"
s.split()

['hi', 'my', 'name', 'is', 'affan']

In [8]:
s="hi my name is affan"
s.split('i')

['h', ' my name ', 's affan']

In [9]:
s="hi my name is affan"
s.split('is')

['hi my name ', ' affan']

In [10]:
a=['hi', 'my', 'name', 'is', 'affan']
' '.join(a)

'hi my name is affan'

In [11]:
a=['hi', 'my', 'name', 'is', 'affan']
''.join(a)

'himynameisaffan'

In [12]:
a=['hi', 'my', 'name', 'is', 'affan']
'-'.join(a)

'hi-my-name-is-affan'

**Replace:replaces a particular substring**

In [13]:
'hi-my-name-is-affan'.replace('affan','mohd')

'hi-my-name-is-mohd'

**Strip:Removes the spaces**

In [15]:
'hello! my name is affaan    '.strip()

'hello! my name is affaan'