# Tuples

A tuple in Python is similar to a list. The difference between the two is that we cannot change the elements of a tuple once it is assigned whereas we can change the elements of a list.

In short, a tuple is an immutable list. A tuple can not be changed in any way once it is created.

Characterstics

- Ordered
- Unchangeble
- Allows duplicate

### Plan of attack

- Creating a Tuple
- Accessing items
- Editing items
- Adding items
- Deleting items
- Operations on Tuples
- Tuple Functions

### Creating Tuples

In [1]:
# empty
t1 = ()
print(t1)
# create a tuple with a single item
t2 = ('hello',)#add a comma is single item  to make it tuple
print(t2)
print(type(t2))
# homo
t3 = (1,2,3,4)
print(t3)
# hetro
t4 = (1,2.5,True,[1,2,3])
print(t4)
# tuple
t5 = (1,2,3,(4,5))
print(t5)
# using type conversion
t6 = tuple('hello')
print(t6)

()
('hello',)
<class 'tuple'>
(1, 2, 3, 4)
(1, 2.5, True, [1, 2, 3])
(1, 2, 3, (4, 5))
('h', 'e', 'l', 'l', 'o')

### Accessing Items

- Indexing
- Slicing

In [3]:
t3=(1,2,3,4)
print(t3)
print(t3[0])
print(t3[-1])

(1, 2, 3, 4)
1
4

In [4]:
t5 = (1,2,3,(4,5))
t5[-1][1]

5

In [8]:
t5[0:2]

(1, 2)

### Editing items

In [5]:
print(t3)
t3[0] = 100
# immutable just like strings

(1, 2, 3, 4)

TypeError: 'tuple' object does not support item assignment

### Adding items

In [6]:
print(t3)
# not possible
#no functions for addition

(1, 2, 3, 4)

### Deleting items

In [9]:
#complete tuple can be deleted but an item cannot be deleted
print(t3)
del t3
print(t3)

(1, 2, 3, 4)

NameError: name 't3' is not defined

In [10]:
t = (1,2,3,4,5)

t[-1:-4:-1]

(5, 4, 3)

In [12]:
print(t5)
del t5[-1]#an item cannot be deleted

(1, 2, 3, (4, 5))

TypeError: 'tuple' object doesn't support item deletion

### Operations on Tuples

In [15]:
# + and *
t1 = (1,2,3,4)
t2 = (5,6,7,8)

print(t1 + t2)

print(t1*3)
# membership
print(1 not in t1)
# iteration
for i in t1:
  print(i)

(1, 2, 3, 4, 5, 6, 7, 8)
(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)
False
1
2
3
4

### Tuple Functions

In [16]:
# len/sum/min/max/sorted
t = (1,2,3,4)
len(t)

sum(t)

min(t)

max(t)

sorted(t,reverse=True)

[4, 3, 2, 1]

In [17]:
# count

t = (1,2,3,4,5)

t.count(50)

0

In [19]:
# index
t.index(2)

1

### Difference between Lists and Tuples

- Syntax
- Mutability-tuples are mutable
- Speed-tuples are faster than list
- Memory-takes less memory
- Built in functionality
- Error prone-in error handling
- Usability

In [21]:
#speed comparison bw list and tuple
import time

L = list(range(100000000))
T = tuple(range(100000000))

start = time.time()
for i in L:
  i*5
print('List time',time.time()-start)

start = time.time()
for i in T:
  i*5
print('Tuple time',time.time()-start)

List time 7.016804456710815
Tuple time 5.398809909820557

In [23]:
#memory comparison
import sys

L = list(range(1000))
T = tuple(range(1000))

print('List size',sys.getsizeof(L))
print('Tuple size',sys.getsizeof(T))

List size 8056
Tuple size 8040

In [24]:
a = [1,2,3]
b = a

a.append(4)
print(a)
print(b)

[1, 2, 3, 4]
[1, 2, 3, 4]

In [25]:
a = (1,2,3)
b = a

a = a + (4,)
print(a)
print(b)

(1, 2, 3, 4)
(1, 2, 3)

### Why use tuple?

### Special Syntax

In [26]:
# tuple unpacking
a,b,c = (1,2,3)
print(a,b,c)

1 2 3

In [27]:
a,b = (1,2,3)
print(a,b)

ValueError: too many values to unpack (expected 2)

In [29]:
#swapping numbers using tuples
a = 1
b = 2
a,b = b,a

print(a,b)

2 1

In [30]:
#adding other values to another variable
a,b,*others = (1,2,3,4)
print(a,b)
print(others)

1 2
[3, 4]

In [31]:
# zipping tuples
a = (1,2,3,4)
b = (5,6,7,8)

tuple(zip(a,b))

((1, 5), (2, 6), (3, 7), (4, 8))