# Sets

A set is an unordered collection of items. Every set element is unique (no duplicates) and must be immutable (cannot be changed).

However, a set itself is mutable. We can add or remove items from it.

Sets can also be used to perform mathematical set operations like union, intersection, symmetric difference, etc.

Characterstics:
- Unordered
- Mutable
- No Duplicates
- Can't contain mutable data types like sets within sets,lists etc

### Creating Sets-curly braces as dict

In [3]:
# empty
s = set()
print(s)
print(type(s))

set()
<class 'set'>

In [4]:
# 1D and 2D
s1 = {1,2,3}
print(s1)

{1, 2, 3}

In [5]:
s2 = {1,2,3,{4,5}}#as set is itself mutable adding set to the set will throw an error
print(s2)

TypeError: unhashable type: 'set'

In [6]:
# homo and hetro
s3 = {1,'hello',4.5,(1,2,3)}#tuple is immutable
print(s3)
print(type(s3))

{1, 'hello', (1, 2, 3), 4.5}
<class 'set'>

In [7]:
# using type conversion
s4 = set([1,2,3])
print(s4)

{1, 2, 3}

In [8]:
# duplicates not allowed-they will be removed
s5 = {1,1,2,2,3,3}
print(s5)

{1, 2, 3}

In [9]:
# set can't have mutable items
s6 = {1,2,[3,4]}
print(s6)

TypeError: unhashable type: 'list'

In [10]:
s1 = {1,2,3}
s2 = {3,2,1}
print(s1 == s2)

True

### Accessing Items

In [11]:
s1 = {1,2,3,4}
s1[0:3]

TypeError: 'set' object is not subscriptable

### Editing Items

In [12]:
s1 = {1,2,3,4}
s1[0] = 100

TypeError: 'set' object does not support item assignment

### Adding Items

In [14]:
S = {1,2,3,4,17,19}
# add
S.add(6)
print(S)

{1, 2, 3, 4, 17, 19, 6}

In [15]:
# update
S.update([5,6,7])
print(S)

{1, 2, 3, 4, 5, 6, 7, 17, 19}

### Deleting Items

In [16]:
# del
s = {1,2,3,4,5}
print(s)

{1, 2, 3, 4, 5}

In [19]:
s = {1,2,3,4,50}
del s[0]
print(s)

TypeError: 'set' object doesn't support item deletion

In [20]:
# discard
s.discard(50)
print(s)

{1, 2, 3, 4}

In [21]:
# remove-remove will throw an error if an item is not found whereas discard will throw the error
s.remove(50)
print(s)

KeyError: 50

In [22]:
# pop-randomly deletes any item
s.pop()

1

In [23]:
# clear-clears the item in list
s.clear()
print(s)

set()

### Set Operation

In [24]:
#union operation
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
s1 | s2

{1, 2, 3, 4, 5, 6, 7, 8}

In [25]:
# Intersection(&)
s1 & s2

{4, 5}

In [27]:
# Difference(-)
print(s1 - s2)
print(s2 - s1)

{1, 2, 3}
{8, 6, 7}

In [28]:
# Symmetric Difference(^)-except common all will be printed
s1 ^ s2

{1, 2, 3, 6, 7, 8}

In [29]:
# Membership Test
1 not in s1

False

In [30]:
# Iteration
for i in s1:
  print(i)

1
2
3
4
5

### Set Functions

In [32]:
# len/sum/min/max/sorted
s = {3,1,4,5,2,7}
print(len(s))
print(sum(s))
print(min(s))
print(max(s))
print(sorted(s,reverse=True))

6
22
1
7
[7, 5, 4, 3, 2, 1]

In [34]:
# union/update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
# s1 | s2
s1.union(s1)

{1, 2, 3, 4, 5}

In [36]:

s1.update(s2)#s1 permanently changes
print(s1)
print(s2)

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5, 6, 7, 8}

In [37]:
# intersection/intersection_update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1.intersection(s2)

{4, 5}

In [38]:
s1.intersection_update(s2)
print(s1)
print(s2)

{4, 5}
{4, 5, 6, 7, 8}

In [39]:
# difference/difference_update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1.difference(s2)

{1, 2, 3}

In [40]:
s1.difference_update(s2)
print(s1)
print(s2)

{1, 2, 3}
{4, 5, 6, 7, 8}

In [41]:
# symmetric_difference/symmetric_difference_update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1.symmetric_difference(s2)

s1.symmetric_difference_update(s2)
print(s1)
print(s2)

{1, 2, 3, 6, 7, 8}
{4, 5, 6, 7, 8}

In [42]:
# isdisjoint/issubset/issuperset
s1 = {1,2,3,4}
s2 = {7,8,5,6}

s1.isdisjoint(s2)

True

In [50]:
s1 = {1,2,3,4,5}
s2 = {3,4,5}

s2.issubset(s1)

True

In [43]:
s1 = {1,2,3,4,5}
s2 = {3,4,5}

s1.issuperset(s2)

True

In [44]:
# copy
s1 = {1,2,3}
s2 = s1.copy()

print(s1)
print(s2)

{1, 2, 3}
{1, 2, 3}

### Frozenset
Frozen set is just an immutable version of a Python set object

In [51]:
# create frozenset
fs1 = frozenset([1,2,3])
fs2 = frozenset((3,4,5))

fs1 | fs2

frozenset({1, 2, 3, 4, 5})

In [52]:
# what works and what does not

# works -> all read functions->union.intersection,issubset,etc
# does't work -> write operations->update,del,add etc

In [53]:
# When to use
# 2D sets
fs = frozenset([1,2,frozenset([3,4])])
fs

frozenset({1, 2, frozenset({3, 4})})

### Set Comprehension

In [48]:
# examples

{i**2 for i in range(1,11) if i>5}

{36, 49, 64, 81, 100}