# Dictionary

Dictionary in Python is a collection of keys values, used to store data values like a map, which, unlike other data types which hold only a single value as an element.

In some languages it is known as map or assosiative arrays.

dict = { 'name' : 'nitish' , 'age' : 33 , 'gender' : 'male' }

Characterstics:

- Mutable
- Indexing has no meaning
- keys can't be duplicated
- keys can't be mutable items

### Create Dictionary

In [1]:
# empty dictionary
d = {}
d

{}

In [3]:
# 1D dictionary
d1 = { 'name' : 'nitish' ,'gender' : 'male' }
d1

{'name': 'nitish', 'gender': 'male'}

In [4]:
# with mixed keys
d2 = {(1,2,3):1,'hello':'world'}
d2

{(1, 2, 3): 1, 'hello': 'world'}

In [5]:
# 2D dictionary -> JSON
s = {
    'name':'nitish',
     'college':'bit',
     'sem':4,
     'subjects':{
         'dsa':50,
         'maths':67,
         'english':34
     }
}
s

{'name': 'nitish',
 'college': 'bit',
 'sem': 4,
 'subjects': {'dsa': 50, 'maths': 67, 'english': 34}}

In [6]:
# using sequence and dict function
d4 = dict([('name','nitish'),('age',32),(3,3)])
d4

{'name': 'nitish', 'age': 32, 3: 3}

In [7]:
d5={'name': 'affan', 'name':'affan','age': 32, 3: 3}
d5

{'name': 'affan', 'age': 32, 3: 3}

### Accessing items

In [ ]:
my_dict = {'name': 'Jack', 'age': 26}
# []-using square bracket
my_dict['age']
# using get function
my_dict.get('age')

s['subjects']['maths']

### Adding key-value pair

In [8]:
d4['gender'] = 'male'
d4

{'name': 'nitish', 'age': 32, 3: 3, 'gender': 'male'}

In [9]:
d4['weight'] = 72
d4

s['subjects']['ds'] = 75
s

{'name': 'nitish',
 'college': 'bit',
 'sem': 4,
 'subjects': {'dsa': 50, 'maths': 67, 'english': 34, 'ds': 75}}

### Remove key-value pair

In [10]:
d = {'name': 'nitish', 'age': 32, 3: 3, 'gender': 'male', 'weight': 72}
# pop
d.pop(3)
print(d)

{'name': 'nitish', 'age': 32, 'gender': 'male', 'weight': 72}

In [11]:
# popitem
d.popitem()

print(d)

{'name': 'nitish', 'age': 32, 'gender': 'male'}

In [12]:
# del
del d['name']
print(d)

{'age': 32, 'gender': 'male'}

In [13]:
# clear
d.clear()
print(d)

{}

In [14]:

del s['subjects']['maths']
s

{'name': 'nitish',
 'college': 'bit',
 'sem': 4,
 'subjects': {'dsa': 50, 'english': 34, 'ds': 75}}

### Editing key-value pair

In [15]:
s['subjects']['dsa'] = 80 #adding inside nested dictionary
s

{'name': 'nitish',
 'college': 'bit',
 'sem': 4,
 'subjects': {'dsa': 80, 'english': 34, 'ds': 75}}

### Dictionary Operations

- Membership
- Iteration

In [16]:
print(s)

'name' in s

{'name': 'nitish', 'college': 'bit', 'sem': 4, 'subjects': {'dsa': 80, 'english': 34, 'ds': 75}}

True

In [18]:
d = {'name':'affan','gender':'male','age':22}

for i in d:
  print(i,d[i])

name affan
gender male
age 22

### Dictionary Functions

In [21]:
# len/sorted
len(d)

3

In [22]:
print(d)
sorted(d,reverse=True)

{'name': 'affan', 'gender': 'male', 'age': 22}

['name', 'gender', 'age']

In [23]:
print(max(d))

name

In [24]:
# items/keys/values
print(d)

print(d.items())
print(d.keys())
print(d.values())

{'name': 'affan', 'gender': 'male', 'age': 22}
dict_items([('name', 'affan'), ('gender', 'male'), ('age', 22)])
dict_keys(['name', 'gender', 'age'])
dict_values(['affan', 'male', 22])

In [25]:
# update
d1 = {1:2,3:4,4:5}
d2 = {4:7,6:8}

d1.update(d2)
print(d1)

{1: 2, 3: 4, 4: 7, 6: 8}

### Dictionary Comprehension

In [26]:
# print 1st 10 numbers and their squares
{i:i**2 for i in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [27]:
distances = {'delhi':1000,'mumbai':2000,'bangalore':3000}
print(distances.items())

dict_items([('delhi', 1000), ('mumbai', 2000), ('bangalore', 3000)])

In [28]:
# using existing dict
distances = {'delhi':1000,'mumbai':2000,'bangalore':3000}
{key:value*0.62 for (key,value) in distances.items()}

{'delhi': 620.0, 'mumbai': 1240.0, 'bangalore': 1860.0}

In [29]:
# using zip
days = ["Sunday", "Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
temp_C = [30.5,32.6,31.8,33.4,29.8,30.2,29.9]

{i:j for (i,j) in zip(days,temp_C)}

{'Sunday': 30.5,
 'Monday': 32.6,
 'Tuesday': 31.8,
 'Wednesday': 33.4,
 'Thursday': 29.8,
 'Friday': 30.2,
 'Saturday': 29.9}

In [30]:
# using if condition
products = {'phone':10,'laptop':0,'charger':32,'tablet':0}

{key:value for (key,value) in products.items() if value>0}

{'phone': 10, 'charger': 32}

In [31]:
# Nested Comprehension
# print tables of number from 2 to 4
{i:{j:i*j for j in range(1,11)} for i in range(2,5)}

{2: {1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20},
 3: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24, 9: 27, 10: 30},
 4: {1: 4, 2: 8, 3: 12, 4: 16, 5: 20, 6: 24, 7: 28, 8: 32, 9: 36, 10: 40}}